@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: auto;
}
body {
  font-family: "Poppins", sans-serif;
  background-image: url(https://marketplace.canva.com/EAF-dgzMak0/1/0/1600w/canva-yaln%C4%B1zl%C4%B1k-ve-g%C3%BCne%C5%9F-temal%C4%B1-masa%C3%BCst%C3%BC-arkaplan-o9D_niF_zUo.jpg);

  background-size: cover;
  height: 100dvh;
}
/* header start */
header {
  height: 100px;
  border-bottom: 2px solid coral;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.logo {
  color: coral;
  font-size: 24px;
}
.logo h2 {
  text-shadow: 0 0 10px rgb(66, 54, 39);
}
nav ul {
  display: flex;
  list-style: none;
  column-gap: 30px;
}
nav ul a {
  color: bisque;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.25s ease;
}
nav ul a:hover {
  color: coral;
}
nav .menu {
  display: flex;
  align-items: center;
  column-gap: 46px;
}
.btn {
  text-decoration: none;
  color: coral;
  font-size: 18px;
  background-color: bisque;
  padding: 12px 24px;
  border-radius: 56px;
  transition: all 0.25s ease-in;
}
.btn:hover {
  background-color: coral;
  color: bisque;
}

/* header end */
/* section start */
.content {
  color: bisque;
  height: calc(100vh - 100px);
  padding-top: 150px;
}
.content h1 {
  font-size: 50px;
  text-align: center;
}
.content p {
  font-size: 20px;
  text-align: center;
  margin-top: 32px;
}
.content .buton {
  display: flex;
  justify-content: center;
  column-gap: 16px;
  margin-top: 48px;
}
.buton a {
  width: 280px;
  text-align: center;
  text-decoration: none;
  color: coral;
  font-size: 18px;
  padding: 20px;
  background-color: bisque;
  border-radius: 56px;
  transition: all 0.25s ease-in;
}
.buton a:hover {
  color: bisque;
  background-color: coral;
}
/* section end */
@media (max-width: 626px) {
  .container {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .menu ul {
    column-gap: 20px;
  }
  .btn {
    display: none;
  }
  .content {
    padding-top: 20px;
  }
  .content h1{
    font-size: 36px;
  }
  .content p{
    font-size: 16px;
  }
  .buton{
    flex-direction: column;
    row-gap: 1rem;
align-items: center;
  }
  .buton a {
    padding:14px;
    width: 90%;
  }
}
